<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44325" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
      <!--<ipSecurity allowUnlisted="false">
        <clear />
        <add ipAddress="127.0.0.1" allowed="true" />
        <add ipAddress="40.71.222.95" allowed="true" />
        <add ipAddress="40.85.190.10" allowed="true" />
        <add ipAddress="40.85.189.128" allowed="true" />
        <add ipAddress="40.85.186.160" allowed="true" />
        <add ipAddress="40.85.185.174" allowed="true" />
        <add ipAddress="40.85.184.143" allowed="true" />
        <add ipAddress="189.44.107.192" subnetMask="255.255.255.248" allowed="true" />
        <add ipAddress="189.44.200.216" subnetMask="255.255.255.248" allowed="true" />
        <add ipAddress="189.2.149.44" subnetMask="255.255.255.252" allowed="true" />
        <add ipAddress="189.2.149.48" subnetMask="255.255.255.252" allowed="true" />
        <add ipAddress="200.250.246.72" subnetMask="255.255.255.252" allowed="true" />
        <add ipAddress="200.174.50.28" subnetMask="255.255.255.252" allowed="true" />
      </ipSecurity>-->
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <remove name="Access-Control-Allow-Origin" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=28800; includeSubDomains" />
        <!--
        <add name="Access-Control-Allow-Origin" value="localhost:4200, iryohml.azurewebsites.net" />-->
        <!--<add name="Access-Control-Allow-Origin" value="localhost:4200" />-->
        <add name="Access-Control-Allow-Origin" value="*" />
        <!--<add name="Access-Control-Allow-Credentials" value="true" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, MyHeader, Authorization" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <globalization culture="pt-BR" />
    <!--<authorization>
      <deny verbs="OPTIONS" users="*" />
      <deny verbs="TRACE" users="*" />
      <deny verbs="HEAD" users="*" />
    </authorization>-->
  </system.web>
</configuration>